/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #f0efef;
  font-size: 1rem;
  line-height: 1.4;
  color: #606161;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}


.clearfix:after {
  display: block;
  content: " ";
  clear: both;
}

/*p {
  margin: 0 0 1.5rem 3rem;
}*/

.container{
  width: 100%;
  margin: auto;
  padding: 1%;
}

/*.wrapper {
  max-width: 960px;
  margin: auto;
}*/

/*.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}*/

.logo {
  font-size: 3rem;
  font-weight: 800;
  margin: auto;
}

header {
  background: #033048;
  padding: 2% 4% 4% 3%;
  overflow: hidden;
}
header .logo {
  color: #fff;
  float: left;
}

header nav {
  float: right;
  margin-top: 1.5625%; /* 15/960 * 100 = 1.5625 */
}


header nav ul {
  white-space: nowrap;
  float: left;
  padding-right: 50px;
}

header nav ul li {
  display: inline-block;
  margin: 0 0 0 4.1666%;
  font-size: 1.3rem;
}
header nav ul li a {
  color: #f9e42e;
  font-size: 1.3rem;
  padding-right: 20px;
}

.quote-name{
  font-size: .8rem;
  font-weight: 600;
  padding-top: 1.5625%; /* 15/960 * 100 = 1.5625 */
}

/*.wrapper {
  max-width: 96%;
  margin: auto;
}*/

#hero {
  height: 700px;
  background: url(../images/header_bg.jpg) no-repeat top center #131e27;
  padding-top: 3.33333%; /* 32/960 * 100 = 3.33333 */
  padding-left: 3.33333%;
  margin: auto;
}

#hero .logo {
  color: #fff;
  padding-left: 1%;
}
#hero h2 {
  font-size: 2.4em;
  text-align: center;
  color: #fff;
  margin: 12.5% 0 10.2916%;
  font-weight: 600;
}
.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 240px;
  font-size: 1.6em;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #033048;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 1.3rem;
}
#benefits {
  padding: 2rem 0 2rem;
}
h3 {
  color: #033048;
  font-size: 2.4rem;
  font-weight: 600;
  margin: .5% 2.0833% 1.0146% 5.2083%;
  /*margin-bottom: 2.08333%;  20/960 * 100 = 2.08333 */
}
#benefits p, #benefits ul {
  width: auto;
  font-size: 1rem;
  line-height: 1.8rem;
  margin: 1.5625% 2.0833% .0146% 5.2083%;
}
#benefits ul {
  list-style: disc;
  margin: 1.5625% 2.0833% 1.0146% 5.2083%;
}
#testimonial {
  background: url(../images/testimonial_bg.jpg) no-repeat top center #071324;
  padding: 7.2916% 0 7.2916%;
  color: #fff;
}
blockquote {
  font-size: 1.7rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  width: 60.4166%; /* 580/960 * 100 = 60.4166% */
  margin: auto;
}
blockquote span {
  font-weight: 600;
  display: block;
  font-style: normal;
}
#main {
  margin-top: 4%; /* 80/960 * 100 = 8.33333% */
}
#posts {
  width: 72.91666%; /* 700/960 * 100 = 72.91666% */
  display: inline-block;
  margin-right: 1.2rem;
  vertical-align: top;
}
#sidebar {
  width: 240px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
.post {
  border-bottom: 1px solid #043049;
  padding-bottom: 8%;
  margin-bottom: 2%;
}
/*.post h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.8rem;
  margin-bottom: 30px;
}*/
.post h2 {
  font-size: 2.2em;
  text-align: left;
  color: #fff;
  margin: .5% 0  10%4.2916%;
  font-weight: 600;
}

.post h2 a {
  color: #043049;
  font-size: 2.5rem;
  margin: auto;
  line-height: .2em;

}
.clearfix:after {
/*  display: block;
  content: " ";
  clear: both;*/
}

.post img {
  margin: auto;
  width: 99%;
  padding-left: 6%;
  padding-bottom: 3%;
  /*
  margin-bottom: 3.125%;
  padding-left: 5%;*/
}
.post p {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #606161;
  padding-left: 6%;
  margin: 0 0 1.5em 0;
}
.post p:first-of-type:first-letter {
  float: left;
  font-size: 4rem;
  line-height: 5rem;
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 3px;
  font-weight: 600;
}
.readmore {
  text-align: right;
  margin-top: 3.125%;
}
.readmore a {
  color: #043049;
  font-weight: 600;
}

/*.button {
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 280px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.yellow {
  background: #f9e42e;
  color: #033048;
}
.blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
}*/

#sidebar h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1.5625%;
  margin-left: 10%;
  color: #043049;
  padding-top: 20px;
}
#sidebar ul {
  margin-bottom: 10%;
}
#sidebar ul li a {
  color: #043049;
  font-size: 1rem;
  margin: 0 0 10% 10%
}
#sidebar p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin: 0 0 0 10%
}
#sidebar p a {
  color: #043049;
  font-weight: 600;
}

#bottom-cta {
  background: #f9e42e;
  padding: 30px;
  text-align: center;
}

footer {
  background: #121212;
  padding: 65px 0 45px;
  text-align: center;
}
footer .logo {
  color: #f9e42e;
  margin-bottom: 68px;
  font-size: 2.5rem;
}
footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
}
footer p {
  font-size: .7em;
  color: #fff;
  font-weight: 600;
}

/*i think there are more values I should be putting inton these
@media screens; open to your advice! */

@media screen and (max-width:1080px) and (min-width: 980px){
    body{
    font-size: 16px;
  }
    nav{
    width:100%;
  }
}
@media screen and (max-width:980px) and (min-width: 768px){
    body{
    font-size: 18px;
  }
    nav{
    width:100%;
  }
}

@media screen and (max-width: 768px){
    body{
    font-size: 20px;
  }
    nav{
    width:98%;
  }
    .second-line {
    display: none;
  }



/*
@media screen and (max-width: 960px){
  nav{
    display: none;
  }

/*@media screen and (max-width: 960px){
  nav.show {
    display: block;


@media screen and (max-width: 960px){
  nav ul li a{
    display: none;
  }
}
@media screen and (max-width: 768px){
  .post h2 {
    display: none;
  }

  .benefits {
    display: none;
  }
}
  }*/

